@charset "UTF-8";

body{
    background-color: black;
}

h1{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    color: #D20000;
    margin-top: 30px;
    margin-bottom: 30px;
}

#report_area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#feedback_area{
    color:#ffff;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    border: 5px solid #D20000;
    width: 60%;
    height: auto;
    padding: 20px;
    font-size: 25px;
    text-shadow: 0 0 8px #D20000;
}

a {
    text-decoration: none;
}

button{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 700;
    color: #ffff;
    background-color: #D20000;
    border: 3px solid #D20000;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
  transform: scale(1.05);    /* ちょっと大きく */
  transition: 0.2s;         /* アニメーション */ 
  
}

button:active {
  transform: scale(0.95);    /* 押し込むように */
}